#timeTable {
    width: 1200px;
    height: 600px;
    outline: 2px dashed #5d5d5d;
    background-color: #e0f2f7;
    color: #1f3c44;
    margin: 20px;
}

#notFoundContentDiv {

}

#searchForm {
    text-align: center;
}

#submit {
    margin-top: 5px;
}

#tableHeader {
    background-color: #5d5d5d;
}

#timeTableDay {
    display: inline-block;
}

table, td, th {
    border: 3px solid #245488;
}

td, th {
    padding: 10px 20px;
    text-align: center;
}