#searchForm {
    text-align: center;
}

#submit {
    margin-top: 5px;
}

th {
    background-color: #5d5d5d;
}

#timeTableDay {
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 97%;
    margin: 20px 10px 10px 10px;
}

td, th {
    padding: 10px 20px;
    text-align: center;
}

#chooseYourGroup {
    width: 100%;
    height: 100%;
    text-align: center;
}

#chooseYourGroup-image {
    width: 200px;
}