#searchForm {
    text-align: center;
}

#submit {
    margin-top: 5px;
}

#tableHeader {
    background-color: #5d5d5d;
}

#timeTableDay {
    display: inline-block;
}

table, td, th {
    border: 3px solid #245488;
}

td, th {
    padding: 10px 20px;
    text-align: center;
}