<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Telekanal</title>
  <script th:src="@{jQuery.js}"></script>
  <script th:src="@{refreshFiles/refreshSessionScript.js}"></script>
  <script th:src="@{refreshFiles/createSessionScript.js}"></script>
  <script th:src="@{refreshFiles/deleteSessionScript.js}"></script>
  <link rel="stylesheet" href="refreshFiles/refreshStyles.css">
  <link rel="stylesheet" href="../mainFiles/main.css">

  <div th:replace="fragments/header :: header-css"></div>
  <div th:replace="fragments/footer :: footer-css"></div>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div id="phoneImage" style="background: url(../phon.jpg); min-height: 610px">
<div id="foundedTimeTable" th:data-group = "${group}">
  <div th:if = "${timeTable == null}">
    <h1>расписание не найдено</h1>
  </div>
  <div th:if = "${timeTable != null}">
    <div th:each = "day : ${timeTable.getDays()}" id="timeTableDay">
      <h1 th:text="${day.getDayOfWeek().getDayName()}"></h1>
      <table>
        <tr>
          <th>название</th>
          <th>время</th>
          <th>номер аудитории</th>
          <th>преподаватель</th>
          <th>тип</th>
          <th></th>
          <th></th>
          <th>
            <button id="createSessionButton" th:data-day = "${day.getDayOfWeek().getDayName()}">+</button>
          </th>
        </tr>
        <tr th:each = "session1 : ${day.getSessions()}">
          <td id="nameTimeTable">
            <p th:text="${session1.getSubjectName()}">
          </td>
          <td id="TimeTimeTable">
            <p th:text = "${session1.getTime()}">
          </td>
          <td id="ANumTimeTable">
            <p th:text="${session1.getAudienceNumber()}">
          </td>
          <td id="TeacherTimeTable">
            <p th:text="${session1.getTeacherName()}">
          </td>
          <td id="typeTimeTable">
            <p th:text="${session1.getSubjectType()}">
          </td>
          <td>
            <button id="refreshSessionButton" th:data-id = "${session1.getId()}">ред</button>
          </td>
          <td>
            <button id="deleteSessionButton" th:data-id = "${session1.getId()}">удалить</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Подождите!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="deleteModalCloseButton">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>вы действительно хотите удалить это занятие?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteModalCloseButton">нет</button>
        <button type="button" class="btn btn-primary" id="submitDeleteSession" data-id = "null">да</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModalCenter" tabindex="-1" role="dialog" aria-labelledby="errorModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLongTitle">ошибка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="errorModalCenterCloseButton">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="errorMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="errorModalCenterCloseButton">ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createSessionModal" tabindex="-1" role="dialog" aria-labelledby="createSessionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createSessionModalLabel">редактирование занятия</h5>
        <button type="button" class="close" id="createSessionCloseButton" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createSessionForm">
          <div class="form-group">
            <label for="createSubjectName" class="col-form-label">название</label>
            <input type="text" class="form-control" id="createSubjectName" name="SubjectName">
          </div>
          <div class="form-group">
            <label for="createAudienceNumber" class="col-form-label">номер аудитории</label>
            <input type="text" class="form-control" id="createAudienceNumber" name="audienceNumber">
          </div>
          <div class="form-group">
            <label for="createTeacher" class="col-form-label">преподаватель</label>
            <input type="text" class="form-control" id="createTeacher" name="teacher">
          </div>
          <div class="form-group">
            <label for="createSubjectType" class="col-form-label">тип</label>
            <select name="SubjectType" id="createSubjectType">
              <option value="LECTURE" selected>Лекция</option>
              <option value="LABORATORY">Лабораторная</option>
              <option value="PRACTICE">Практика</option>
            </select>
          </div>
          <div class="form-group">
            <label for="createSubjectTime" class="col-form-label">время</label>
            <select name="Time" id="createSubjectTime">
              <option value="FIRST_CLASS" selected>8:00</option>
              <option value="SECOND_CLASS">9:40</option>
              <option value="THIRD_CLASS">11:20</option>
              <option value="FOURTH_CLASS">13:30</option>
              <option value="FIFTH_CLASS">15:10</option>
              <option value="SIXTH_CLASS">16:40</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="createSessionCloseButton" data-dismiss="modal">закрыть</button>
        <button type="button" class="btn btn-primary" id="createSessionSubmitButton" data-day = "null">создать</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="refreshSessionModal" tabindex="-1" role="dialog" aria-labelledby="refreshSessionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="refreshSessionModalLabel">редактирование занятия</h5>
        <button type="button" class="close" id="refreshSessionCloseButton" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createSessionForm">
          <div class="form-group">
            <label for="refreshSubjectName" class="col-form-label">название</label>
            <input type="text" class="form-control" id="refreshSubjectName" name="SubjectName">
          </div>
          <div class="form-group">
            <label for="refreshAudienceNumber" class="col-form-label">номер аудитории</label>
            <input type="text" class="form-control" id="refreshAudienceNumber" name="audienceNumber">
          </div>
          <div class="form-group">
            <label for="refreshTeacher" class="col-form-label">преподаватель</label>
            <input type="text" class="form-control" id="refreshTeacher" name="teacher">
          </div>
          <div class="form-group">
            <label for="refreshSubjectType" class="col-form-label">тип</label>
            <select name="SubjectType" id="refreshSubjectType">
              <option value="LECTURE" selected>Лекция</option>
              <option value="LABORATORY">Лабораторная</option>
              <option value="PRACTICE">Практика</option>
            </select>
          </div>
          <div class="form-group">
            <label for="refreshSubjectTime" class="col-form-label">время</label>
            <select name="Time" id="refreshSubjectTime">
              <option value="FIRST_CLASS" selected>8:00</option>
              <option value="SECOND_CLASS">9:40</option>
              <option value="THIRD_CLASS">11:20</option>
              <option value="FOURTH_CLASS">13:30</option>
              <option value="FIFTH_CLASS">15:10</option>
              <option value="SIXTH_CLASS">16:40</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="refreshSessionCloseButton" data-dismiss="modal">закрыть</button>
        <button type="button" class="btn btn-primary" id="refreshSessionSubmitButton" data-id = "null">создать</button>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>